[tool.poetry]
name = "finalproject_avo_m25_555"
version = "0.1.0"
description = "Платформа для валютного трейдинга"
authors = ["Анастасия Волконская <aavolkon@mail.ru>"]
package-mode = true

[tool.poetry.dependencies]
python = "^3.11"
prettytable = "^3.10.0"

[tool.poetry.group.dev.dependencies]
ruff = "^0.6.8"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
project = "main:main"

[tool.ruff]
line-length = 88
target-version = "py311"
